/*Universal Styles*/

body {
	background-color: #000;
	text-align: center;
	font-family: Verdana , sans-serif;
	
}

/* Headings */
.heading--main {
	color: #fff;
	font-weight: normal;
	font-sizee: 50px;
}

.heading--secondary {
	font-weight: 300;
	font-size: 42px;
	color: #fff;

}

.subheader {
	font-size: 21px;
	color: gray;
	font-weight: normal;

}

/* Link */
.link {
	color: aquamarine;
	font-size: 16px;
	text-decoration: none;
}

/* Video Section */
/* Image */
