/*Universal Styles*/

body {
	background-color: #000;
	text-align: center;
	font-family: Verdana , sans-serif;
}

/* Header */
header {
	color: #fff;
	font-weight: normal;
	font-sizee: 50px;
}
.link {
	color: aquamarine;
	font-size: 16px;
	text-decoration: none;
}